ANTHROPIC_API_KEY=your_anthropic_key_here
NOTION_TOKEN=your_notion_integration_token_here
NOTION_DATABASE_ID=your_notion_database_id_here
MAKE_WEBHOOK_URL=https://hook.eu2.make.com/2i8cku75tlcv2y4udi4i6nza25noa1bt
